<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" ui-sref='root.home'><i class="fa fa-home"></i> WallaDog</a>-->
        <a class="navbar-brand" ui-sref='root.home'><img style="display:inline-block" width="45" height="45" src="assets/logos/walladogt.png"> <span style="color:white;font-size:1.1em;font-family:'Lobster';">WallaDog</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
        <ul class="nav navbar-nav nav-center hidden-xs">
            <div class="btn-group" style="margin-top:7px;">
                <div class="btn-group" uib-dropdown is-open="status.isopen1">
                    <button id="single-button-races" type="button" class="btn btn-primary btnnavbar" uib-dropdown-toggle ng-disabled="disabled">
                        {{search.race.name||'Razas'}} <span class="caret"></span>
                    </button>
                    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li ng-repeat="race in races | orderBy:'name'" role="menuitem"><span style="cursor:pointer;" ng-click="updateSearchParam('race',race.id,race.name)">{{ race.name }}</span></li>
                    </ul>
                </div>
                <!--<div class="btn-group" uib-dropdown is-open="status.isopen">
                    <input type="text" class="form-control" placeholder="Busca en Walladog" style="border-radius:0px;" ng-keypress="onKeyPressSearch($event)">
                </div>-->
                <div class="btn-group" uib-dropdown is-open="status.isopen2">
                    <button id="single-button-distance" type="button" class="btn btn-primary btnnavbar" uib-dropdown-toggle ng-disabled="disabled">
                        {{search.distance.name||'Distancia'}} <span class="caret"></span>
                    </button>
                    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-click="updateSearchParam('distance',5,'5Km')"><span style="cursor:pointer">5 km</span></li>
                        <li role="menuitem" ng-click="updateSearchParam('distance',10,'10Km')"><span style="cursor:pointer">10 km</span></li>
                        <li role="menuitem" ng-click="updateSearchParam('distance',15,'15Km')"><span style="cursor:pointer">15 km</span></li>
                        <li role="menuitem" ng-click="updateSearchParam('distance',20,'20Km')"><span style="cursor:pointer">20 km</span></li>
                        <li role="menuitem" ng-click="updateSearchParam('distance',10000,'Sin distancia')"><span style="cursor:pointer">Sin distancia</span></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button id="single-button-search" type="button" class="btn btn-success btnnavbarsuccess" ng-click="submitSearch();">
                        Buscar <i class="fa fa-search"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button id="single-button-clean" type="button" class="btn btn-danger btnnavbarclean" ng-click="cleanSearch();">
                        Limpiar <i class="fa fa-recycle"></i>
                    </button>
                </div>
            </div>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right:5px;">
            <li class="dropdown hidden-xs" uib-dropdown>
                <div class="btn-group" uib-dropdown is-open="status.isopen3" style="margin-top:7px;">
                    <button id="single-button" type="button" class="btn btn-primary btnnavbar" uib-dropdown-toggle ng-disabled="disabled">
                        {{uData.userName?uData.userName:'Usuario'}} <i class="fa fa-user"></i>
                    </button>
                    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li ng-if="!uData.isLogged" ui-sref-active="active" role="menuitem">
                            <a ui-sref="root.auth" ng-click="navCollapsed = !navCollapsed">
                                <i class="fa fa-sign-in"></i>
                                Identificarse</a>
                        </li>
                        <li ng-if="uData.isLogged" ui-sref-active="active" role="menuitem">
                            <a ui-sref="root.logout" ng-click="navCollapsed = !navCollapsed">
                                <i class="fa fa-sign-out"></i>
                                Salir</a>
                        </li>
                        <li ng-if="uData.isLogged" class="divider"></li>
                        <li ng-if="uData.isLogged" ui-sref-active="active" role="menuitem">
                            <a ui-sref="root.uprofile" ng-click="navCollapsed = !navCollapsed">
                                <i class="fa fa-user-md"></i>
                                Area de usuario</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="dropdown hidden-lg hidden-md hidden-sm">
                <ul class="nav navbar-nav" style="margin-left:10px;">
                    <li ui-sref-active="active">
                        <a ui-sref="root.auth" ng-click="navCollapsed = !navCollapsed" style="color:white;">
                            <i class="fa fa-sign-in"></i>
                            Login</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="root.logout" ng-click="navCollapsed = !navCollapsed" style="color:white;">
                            <i class="fa fa-sign-out"></i>
                            Logout</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="root.uprofile" ng-click="navCollapsed = !navCollapsed" style="color:white;">
                            <i class="fa fa-user"></i>
                            Area de usuario</a>
                    </li>
                    <!-- <li class="divider"></li> -->
                    <li ui-sref-active="active">
                        <a ui-sref="root.apitest" ng-click="navCollapsed = !navCollapsed" style="color:white;">
                            <i class="fa fa-gears"></i>
                            PruebasAPI</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>